/* * 
* {{properCase name}}
* 
*/ 

import { FC } from 'react' 
import { observer } from 'mobx-react-lite'

// import { buildLog } from '@/logger' 

import type { TStore } from './store' 
import { Wrapper } from './styles' 
import { useInit } from './logic' /* eslint-disable-next-line */ 

// const log = buildLog('C:{{properCase name}}') 

type TProps = {
  testid: string 
} 

const {{properCase name}}: FC<TProps> = (testid, {{afterCurly ''}}) => { 
  useInit(store)

  return (
    <Wrapper testid={testid}>
      <h2>{{properCase name}} hooks !</h2>
      <div>impress me!</div>
    </Wrapper>
  ) 
} 

export default observer({{properCase name}}, "{{camelCase name}}") as FC<TProps>